

# files ending with `~`
*~
*.*~
**/*.*~


# garbage
*.scala#
tmp


# project files
project/boot
target


# managed libraries
lib_managed/


# deployment stuff
deploy/
deployrun

# database
*.db

# eclipse stuff
.project
.classpath
